<h1>Leave Application</h1>
<p>
	<%= form_tag("/leave") do %>
	<p>
		<%= label_tag(:reg_no, "Registration No:") %>
  		<%= text_field_tag(:reg_no) %>
	</p>
	<p>
		<%= label_tag(:student_name, "Student Name:")%>
  		<%= text_field_tag(:student_name)%>
	</p>
	<p>
		<%= label_tag(:program_discipline, "Program/Discipline:")%>
  		<%= select_tag(:program_discipline, options_for_select([['B.Tech', 'btech'], ['M.Tech', 'mtech'], ['Phd', 'phd']]) )%>
  		<%= select_tag(:program_discipline, options_for_select([['ICT', 'ict'], ['Systems Science', 'system_science'], ['Energy', 'energy'], ['BISS', 'biss']]) )%>
	</p>
  	<p>
  		<%= label_tag(:leave_period, "Leave Period:")%>
  		<p>
  			<%= label_tag(:start_date, "From:")%>
  			<%= select_date Date.today, :prefix => :start_date, :start_year => Time.now.year %><br />
  			<%= label_tag(:end_date, "To:")%>
  			<%= select_date Date.today+1, :prefix => :end_date, :start_year => Time.now.year %>
  		</p>
  	</p>
	<% end %>
</p>
