<%= javascript_include_tag "leave.js"%>
<center>
	<h1>Leave Approval/Rejection List(Academic Co-ordinator)</h1>
	<table border="1">
		<tr>
			<th>LeaveID</th>
    		<th>Leave Start Date</th>
    		<th>Leave End Date</th>
    		<th>Leave Reason</th>
    	</tr>
		<% if !@showLeave.present? %>
		<tr>
			<td colspan="7" align="center">Yippeee, No Leave Applications</td>
		</tr>
		<% if !flash[:success].nil? %>
		<tr>
  			<td colspan="7" align="center">
  				
                 <div class="alert alert-success">
                  <strong><%=flash[:success]%></strong>  
                  </div>
               
  			</td>
  		</tr>
  		 <%end%>
		<% else %>
		<% @showLeave.each do |leave| %>
		<tr>
			<td><%= leave.leave_id_prefix+(leave.leave_id).to_s()+'/'+leave.academic_session %><br></td>
  			<td><%= leave.leave_from %><br></td>
  			<td><%= leave.leave_to %><br></td>
  			<td><%= leave.leave_reason %><br></td>
  			<td><%= link_to "Approve", approveLeave_path(:id_param => leave.leave_id) %></td>
  			<td><%= link_to "Reject", rejectLeave_path(:id_param => leave.leave_id), :class => 'rejectLeave' %></td>
  			<td><%= link_to "More", leaveInfo_path(:id_param => leave.leave_id)%></td>
  		</tr>
  		<% if !flash[:success].nil? %>
  		<tr>
  			<td colspan="7" align="center">
  				  <div class="alert alert-success">
                  <strong><%=flash[:success]%></strong>  
                  </div>
                
  			</td>
  		</tr>
  		<%end%>
		<% end %>
		<% end %>
	</table>
	<%= link_to "Previous Leave Applications", prevLeaveApp_path %>
</center>
